  @import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Titillium+Web:wght@300&display=swap');

body
{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    background-color: #1b1f25;
}
.centered
{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.toplink
{
    font-family: Comfortaa;
    font-size: large;
    background-color: #032b5b;
    width: 100%;
    
}
a:link
{
    color:lightgray;
    text-decoration: none;
    
}
a:visited{
    color: lightgrey;
    text-decoration: none;
}
a:hover
{
    color: blue;
    text-decoration: none;
}
a:active
{
    color: red;
    text-decoration: none;
}
p
{
    font-family: Titillium web;
    color: goldenrod;
    border: dashed tomato 2px;
    width:80%;
}
#resume
{
    border: 2px black solid;
    background-color: darkolivegreen;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: large;
    font-family: Comfortaa;
}