  @import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Titillium+Web:wght@300&display=swap');

body
{
    display: grid;
    grid-template-columns:repeat(4,25%);  
    grid-template-rows: repeat(4,56%);
    background-color: #1b1f25;
}
.centered
{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.toplink
{
    font-family: Comfortaa;
    font-size: large;
    background-color: #032b5b;
    grid-row-end: 5;
    grid-row-start: 1;
}
a
{
    display: flex; 
    align-items: center;
}
a:link
{
    color:lightgray;
    text-decoration: none;
    
}
a:visited{
    color: lightgrey;
    text-decoration: none;
}
a:hover
{
    color: blue;
    text-decoration: none;
}
a:active
{
    color: red;
    text-decoration: none;
}
p
{
    font-family: Titillium web;
    color: goldenrod;
    border: dashed tomato 2px;
    width:60%;
}
#resume
{
    border: 2px black solid;
    background-color: darkolivegreen;
    margin-top: 60px;
    margin-bottom: 5px;
    font-size: large;
    font-family: Comfortaa;
    grid-column: 3;
    grid-row: 2;
    height: 40%;
    align-self: baseline;
}
.icons
{
    height: 25px; 
    width: 25px;
    
}
@media screen and ( min-width : 800px )
{
    
}