@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Titillium+Web:ital,wght@0,300;1,300&display=swap');

body
{
    display: grid;
    grid-template-columns:repeat(4,25%);  
    grid-template-rows: repeat(10,15%);
    background-color: #26271b;
}
.centered
{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.toplink
{
    font-family: Comfortaa;
    font-size: large;
    background-image: linear-gradient(#1c447c,#26271b);
    grid-row-end: 5;
    grid-row-start: 1;
}
a
{
    display: flex; 
    align-items: center;
}
a:link
{
    color:#d1e3f2;
    text-decoration: none;
    
}
a:visited{
    color: #d1e3f2;
    text-decoration: none;
}
a:hover
{
    color: #5c5b32;
    text-decoration: none;
}
a:active
{
    color: #cfa89b;
    text-decoration: none;
}
p
{
    font-family: Titillium web;
    color: #8f795c;
    width:200px;
}
#resume
{
    border: 2px #d1e3f2 solid;
    font-size: large;
    font-family: Comfortaa;
    grid-row: 2;
    margin-left: 100%;
    margin-top: 5px;
    height: 50%;
    width: 130px;
}
.icons
{
    height: 25px; 
    width: 25px;
    
}
.me
{
    margin-top: 50px;
    height: 100%; 
    width: 100%; 
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start:3;
    grid-row-end: 9; 
}
#resume:link
{
    color: #d1e3f2;
}
#resume:visited
{
    color: #d1e3f2;
}
#resume:hover
{
    color: #5c5b32;
}
#resume:active
{
    color: #cfa89b;
}
.intro
{
    grid-column-end: 5;
    grid-column-start: 2;
}
.startintro
{
    font-size: x-large;
}
aside
{
    visibility: hidden;
}
.iconsocial
{
    height: 50px; 
    width: 50px;
    
}
.org
{
    font-size: large; 
    grid-column: 2; 
    margin-left: 50px; 
    align-items: center ; 

}
#discord
{
    width: 75px;
}
@media screen and ( min-width : 800px )
{
    body
    {
        grid-template-columns: repeat(5,20%);
    }
    a
    {
        margin-bottom: 30px;
    }
    .me
    {
        grid-column-start: 4;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 8;
        margin: 0;
    }
    #resume
    {
        grid-row: 3 ;
        grid-column: 2;
        margin-left: 100px;
    }
    .intro
    {
        grid-column: 2;
        grid-row: 1;
        margin-left: 50px;
        font-size: x-large;
        width: 250px;
    }
    .startintro
    {
        font-weight: bold;
        font-size: 24pt;
    }
    aside
    {
        visibility: visible;
        font-family: 'Titillium Web', sans-serif;
        font-style: italic;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5 ;
        font-size: x-large;
        margin-left: 90px ;
        margin-top: 50px;
        display: grid;
    }
    #facebook
    {
        display: inline;
        grid-row: 4;
        grid-column: 4;
    }
    #insta
    {
        display: inline;
        grid-row: 4;
        grid-column: 6;
    }
    #linked
    {
        display: inline;
        grid-row: 6;
        grid-column: 4;

    }
    #discord
    {
        display: inline;
        grid-row: 6;
        grid-column: 6;
    }
    #email
    {
        display: inline;
        grid-row: 8;
        grid-column: 5;

    }
}